<!DOCTYPE HTML>
<html>
<head>
 <title>Админка</title>
 <meta name="" content="">
 <link rel="stylesheet" type="text/css" href="css/admin.css"/>
 <script type="text/javascript" src="js/scripts.js" ></script>
</head>
<body>
<h2 style="color: #00002d; text-align: center;" ><a href="#" onclick="show_hide('table');">Розділ: Нові оголошенння</a></h2>
<table id="table">
 <tr>
  <td class="td">Користувач</td>
  <td class="td">Назва</td>
  <td class="td">Опис</td>
  <td class="td">Ціна</td>
  <td class="td">Действие</td>
 </tr>

<%if (null!= advert && null!=own){%>
 <%advert.forEach(function(adverts){%>
 <tr>
 <td class='td_1'><%=own[0].email%></td>
 <td class='td_1'><%= adverts.tittle%></td>
 <td class='td_1'><%= adverts.description%></td>
 <td class='td_1'><%= adverts.price%></td>
 <td class='td_1'>

  <form method='post' action=''>
   <input type='submit' class='del' value='' title ='Удалить'/>
   <input type="hidden" name="advert[id]" value="<%= adverts.advert_id%>">
  </form>
  <form method='POST' action='/accept'>
   <input type='submit' class='edit' value='' title ='Опублікувати'/>
   <input type="hidden" name="advert[id]" value="<%= adverts.advert_id%>">
  </form>
 </tr>
  <%})
  }%>
 </td>
</table>
</body>
</html>